:root {
  --color1: white;
  --color2: #455a64;
  --color3: #37474f;
  --color4: #263238;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: var(--color2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color4);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  /* background-image: url(./img/bgimg.png); */
  background-color: var(--color3);
  color: var(--color1);
  position: relative;
  top: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: auto;
  padding: 0;
}

/* .clipPath {
  background: var(--color3);
  filter: opacity(70%);
  position: fixed;
  top: 0;
  clip-path: polygon(15% 0%, 55% 0%, 100% 40%, 100% 70%, 0% 100%);
  height: 100vh;
  width: 100vw;
} */

.navbar {
  height: 10vh;
  min-height: fit-content;
  width: 100%;
  right: 0;
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: var(--color4);
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;
  padding: 0;
  position: sticky;
  float: right;
  transition: ease-in-out;
}

.burger-div {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25px;
  right: 25px;
  display: none;
  z-index: 10;
}

.burger {
  border-bottom: 3px var(--color2) solid;
  width: 30px;
  height: 8px;
}

.burger-div:hover {
  cursor: pointer;
}

.title {
  font-size: 6rem;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 10vh;
}

.logo mask,
.logo {
  animation: fill 0.5s ease forwards 2.2s;
}

.logo path:nth-child(2) {
  stroke-dasharray: 714.5px;
  stroke-dashoffset: 714.5px;
  animation: line-anim 2s ease forwards;
}

.logo path:nth-child(3) {
  stroke-dasharray: 238.78px;
  stroke-dashoffset: 238.78px;
  animation: line-anim 2s ease forwards 0.1s;
}

.logo path:nth-child(4) {
  stroke-dasharray: 495px;
  stroke-dashoffset: 495px;
  animation: line-anim 2s ease forwards 0.2s;
}

.logo path:nth-child(5) {
  stroke-dasharray: 213.15063px;
  stroke-dashoffset: 213.15063px;
  animation: line-anim 2s ease forwards 0.3s;
}

.logo path:nth-child(6) {
  stroke-dasharray: 213.15063px;
  stroke-dashoffset: 213.15063px;
  animation: line-anim 2s ease forwards 0.4s;
}

.logo path:nth-child(7) {
  stroke-dasharray: 465.2px;
  stroke-dashoffset: 465.2px;
  animation: line-anim 2s ease forwards 0.5s;
}

.logo path:nth-child(8) {
  stroke-dasharray: 480.32px;
  stroke-dashoffset: 480.32px;
  animation: line-anim 2s ease forwards 0.6s;
}

.logo path:nth-child(9) {
  stroke-dasharray: 473.47px;
  stroke-dashoffset: 473.47px;
  animation: line-anim 2s ease forwards 0.7s;
}

.logo path:nth-child(10) {
  stroke-dasharray: 218.4px;
  stroke-dashoffset: 218.4px;
  animation: line-anim 2s ease forwards 0.8s;
}

.logo path:nth-child(11) {
  stroke-dasharray: 234.14px;
  stroke-dashoffset: 234.14px;
  animation: line-anim 2s ease forwards 0.9s;
}

.logo path:nth-child(12) {
  stroke-dasharray: 234.14px;
  stroke-dashoffset: 234.14px;
  animation: line-anim 2s ease forwards 1s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: black;
  }
  to {
    fill: var(--color1);
  }
}

.lang-img {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.languages {
  width: 100px;
  animation: invisible 2.2s ease 0s, display 0.5s ease forwards 2.2s;
}

@keyframes invisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pageContainer {
  position: relative;
  top: 15vh;
}

.underTitle {
  margin-top: 10px;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 5px;
}

header {
  width: 100%;
  height: 100vh;
  text-align: center;
  filter: opacity(70%);
  position: absolute;
  top: 0;
}

.aboutContainer {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.skillsDiv {
  width: 42%;
  font-size: 1.25rem;
}

.trainingskills {
  margin-bottom: 50px;
}

.skillsDiv h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.skills-lang {
  min-width: 300px;
  width: 70%;
}

.cert {
  min-width: 250px;
  width: 60%;
}

.cert-para {
  margin-top: 40px;
}

.project img {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  position: relative;
  left: 90px;
  margin: 0;
  padding: 0;
}

.imgOverlay {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  position: relative;
  background-color: var(--color3);
  z-index: 1;
  display: inline-block;
  right: 90px;
  margin: 0;
  padding: 0;
  filter: opacity(60%);
  transition: 300ms;
}

.imgOverlay:hover {
  filter: opacity(0%);
  transition: 300ms;
}

.project {
  width: 380px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 10px 15px 15px -10px rgba(0, 0, 0, 0.51);
  margin-left: auto;
  margin-right: auto;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  grid-area: auto;
  margin: auto;
  width: 80%;
}

@media (max-width: 930px) {
  .aboutContainer {
    display: inline-block;
    text-align: center;
  }

  .cert-para {
    width: 90%;
    margin: 20px auto 20px auto;
  }

  .skillsDiv {
    margin: 20px auto 20px auto;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .project {
    width: 90%;
  }

  .projectsContainer {
    grid-template-columns: 1fr;
  }

  .imgOverlay {
    display: none;
  }

  .project img {
    position: static;
  }
}

@media (max-width: 700px) {
  .burger-div {
    display: flex;
    transition: all 300ms ease-in-out;
  }

  .navbar-nav {
    flex-direction: column;
    float: none;
    height: 30vh;
    background: var(--color4);
    width: 100%;
    display: flex;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    transition: top 300ms ease-in-out;
    position: fixed;
    top: -280px;
    opacity: 0;
  }

  .show {
    top: 0px;
    opacity: 1;
  }
}
